* {
  --color: #ededed;
  --other-color: paleturquoise;
  --black: black;
  --blue: #0ef;
}

*::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-y: hidden;
  font-family: monospace;
  font-weight: bolder;
  color: var(--black);
  margin: 0;
  background-repeat: no-repeat;
  background: linear-gradient(
      to right, 
      var(--color) 0%,
      var(--color) 40%,
      var(--other-color) 60%,
      var(--black) 100%
  );
}

.start-btn {
  position: absolute;
  margin-top: 70px;
  outline: none;
  background-color: var(--color);
  cursor: alias;
  position: absolute;
  top: 44%;
  padding: 10px;
  border: transparent;
  box-shadow: 0px 0px 5px 5px var(--other-color);
  transform-origin: -1000px;
}

.start-btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 300ms ease;
  background-color: var(--blue);
  transform-origin: left;
}

.start-btn:hover::before,
.start-btn:focus::before {
  transform: scale(1);
}

.start-btn {
 z-index: 1;
 transition: 300ms ease;
 font-weight: bolder;
}

.start-btn:hover,
.start-btn:focus {
  color: white;
}

.join {
  margin-top: 150px;
  position: sticky;
  top: 0;
}

.startpos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-shadow: 5px 10px var(--blue);
  transition: 300ms ease;
  position: absolute;
  top: 45%;
  transform-origin: -1000px;
}

#container {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  background-color: white;
  width: 500px;
  height: 500px;
  transform: scale(0);
  box-shadow: 0px 0px 10px 10px var(--blue);
  transition: 1s ease;
  transform-origin: -1000px;
}

@media (max-width: 530px) {
  #grid {
      display: grid;
      background-color: white;
      width: 300px;
      height: 300px;
      transform: scale(0);
      box-shadow: 0px 0px 10px 10px var(--blue);
      transition: 1s ease;
      transform-origin: -1000px;
  }
}

@media (max-width: 332px) {
  #grid {
      display: grid;
      background-color: white;
      width: 200px;
      height: 200px;
      transform: scale(0);
      box-shadow: 0px 0px 10px 10px var(--blue);
      transition: 1s ease;
      transform-origin: -1000px;
  }
}

.button {
  transform: scale(0);
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 10px;
  transform-origin: -1000px;
}

.paintText {
  margin-top: 20px;
}

.backgroundColorText {
  margin-top: 20px;
}

.colorPicker {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 80px;
height: 80px;
border: none;
transition: 300ms ease-in-out;
}

.background {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 80px;
height: 80px;
border: none;
transition: 300ms ease-in-out;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transform: scale(1);
}

.rainbow {
  background-color: transparent;
  transition: 300ms ease;
  width: 125px;
  height: 30px;
  border-radius: 5px;
}

.color {
  background-color: transparent;
  width: 125px;
  height: 30px;
  transition: 300ms ease;
  border-radius: 5px;
}

.clear {
  background: transparent;
  width: 125px;
  height: 30px;
  transition: 300ms ease;
  border-radius: 5px;
}

.erase {
  background: transparent;
  width: 125px;
  height: 30px;
  transition: 300ms ease;
  border-radius: 5px;
}

.rainbow:hover, .color:hover, .clear:hover, .erase:hover {
  color: #0ef;
}

#sizeSlider {
  margin-bottom: 50px;
}

.gridcell {
  user-select: none;
}

.selected {
  background-color: var(--blue);
  transform-origin: -1000px;
  transform: scale(0);
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid var(--color);
  border-radius: 25px;
  background: var(--blue);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: var(--black);
}